*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
body{
    font-family: Arial, sans-serif;
    
}
header{
    width: 1300px;
    height: 100px;
    background-image: linear-gradient(to top, rgba(57, 58, 59, 0.15), rgba(255, 255, 255, 1));
}
.logo{
    padding-top: 40px;
    padding-left: 50px;
    color: #007f74; 
    font-weight: bold; 
    font-size: 40px;
}
nav{
    height: 40px;
    width: 1300px;
    background-color: #007f74;
}
nav ul li {
    line-height: 40px;
    list-style: none;
    float: left;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #ccc;

}
nav ul li a{
    color: #fff;
}
nav ul li:first-child{
    margin-left:20px ;
}
a{  
    color: black;
    text-decoration: none;
}
.main1{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}
.box_news_left{
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
}
.news_right{
    width: 410px;
    flex-basis: 20%;
    
}
.box1_news_left{
    padding: 20px;
    padding-left: 0;
    flex-basis: 45%;
    
}
.box2_news_left{
    padding: 20px;
    padding-left: 0;
    flex-basis: 55%;
    
}
.news{
    display: flex;
    justify-content: space-between;
}
.conten_box2_left{
    padding-left: 10px;
    flex-basis: 65%;
}
.photo_box2_left{
    flex-basis: 20%;
}
.box1_news_right{
    width: 410px;
    height: 400px;
    background-color: rgba(196, 200, 202,0.5);
    border-top: 5px solid rgb(5, 101, 145) ;
}
.title_box1_right{
    text-transform: uppercase;
    color: rgb(32, 85, 176);
    padding-top: 20px;
    padding-left: 20px;
}
.Point_box1_right{
    height: 320px;
    margin: 0 auto;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;

}

.send, .kq{
    display: inline-block;
    margin: 40px;
    padding: 5px;
    font-weight: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.send{
    margin-left: 30px;
    width: 80px;
    background: gainsboro;
}
.kq{
    height: auto;
    width: 90px;
    background: red;
}
#answer{
    margin: 20px;
    margin-left: 0;
}

.Point_box2_right{
    margin: 20px;
    margin-top: 40px;
    font-size: 22px;
}
#PBR{
    margin-bottom: 20px;
}
.box2_news_right{
    margin-top:90px ;
    width: 410px;
    height: 330px;
    background-color: rgba(196, 200, 202,0.5);
    border-top: 5px solid rgb(5, 101, 145) ;
}
.box3_news_left{
    width: 100%;
    background-color: #ccc;

}
.box_left_under{
    width: 810px;
    margin-top: 21px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: flex-start;
    
}
.photo1_under{
    flex-basis: 30%;
}
.conten{
    margin-top: 30px;
    flex-basis: 60%;
}
/* Main2 */
.main2{
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
    margin-bottom: 30px
}
.box1_under{
    margin-bottom:10px ;
    width: 96%;
    border-bottom: 3px solid #ccc;

}
.Kinhte{
    height: 40px;
    width: 130px;
    background-color: #A3252D;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
}
.conten_under{
    display: flex;
}
.con_under{
    flex-basis: 70%;
}
.photo2_under{
    padding-right: 20px;
    flex-basis: 24%;
}
.under_box1{
    flex-basis: 50%;
}
.under_box2{
    flex-basis: 50%;
}

.main2 > ul > li {
    color: red;
    font-size: 16px;
}
footer > .foot1{
    height: 35px;
    width: 1300px;
    background-color: #007f74;
    margin: 0 auto;
}
footer > .foot2{
    width: 1300px;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(57, 58, 59, 0.15), rgba(255, 255, 255, 1));
}
.text_under{
    
    font-size: 19px;
   
    padding: 0;
    margin: 0;
    padding-right: 20px;
}
#li {
    border-top: 3px dashed #ccc;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 20px;
}
.text_under > ul {
    list-style-position: inside;
}

image{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
